body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #713d3d;
    color: bisque;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #d6d37d;
    padding: 8px;
    text-align: left;
}

th {
    background-color: none;
}